.skate_spot_nav {
  background-color: black;
  display: grid;
  grid-template-columns: 80% 1fr;
}

.title {
  margin: 0;
  padding: 1.25rem;
  color: white;
  letter-spacing: 3px;
}

.logout_btn {
  height: 40px;
  align-self: center;
  justify-self: end;
  margin-right: 20px;
  cursor: pointer;
}
