.login_form {
  display: grid;
  grid-template-columns: 1fr;
}

.login_email_input,
.login_password_input {
  width: 80%;
  height: 2.5rem;
  font-size: 1.5rem;
  border: none;
  border-bottom: 3px solid white;
  color: white;
  background-color: black;
  justify-self: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
}

input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(black, 0.1);
  border-bottom: 3px solid #2ecc71;
}

input:focus:invalid {
  border-bottom: 3px solid #e74c3c;
}

.login_btn_group {
  width: 80%;
  margin-top: 20px;
  justify-self: center;
}

.login_submit_btn {
  float: right;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  border: solid white;
  transition: all 0.2s ease-in-out;
}

.signup_link_btn {
  float: left;
  font-size: 0.75rem;
  color: #3498db;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  text-decoration: underline;
}

.signup_link_btn:hover {
  cursor: pointer;
}

.login_submit_btn:hover {
  border: solid #2ecc71;
  cursor: pointer;
}
