.form {
  display: grid;
  grid-template-columns: 1fr;
}

.emailInput,
.passwordInput {
  width: 80%;
  height: 2.5rem;
  font-size: 1.5rem;
  border: none;
  border-bottom: 3px solid white;
  color: white;
  background-color: black;
  justify-self: center;
  transition: all 0.2s ease-in-out;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
}

input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(black, 0.1);
  border-bottom: 3px solid white;
}

input:focus:invalid {
  border-bottom: 3px solid #e74c3c;
}

.btnGroup {
  width: 80%;
  /* height: 100px; */
  padding-top: 20px;
  justify-self: center;
}

.btnLogin {
  float: right;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  border: solid white;
  transition: all 0.2s ease-in-out;
}

.signupBtn {
  color: #3498db;
  float: left;
}

.btn:hover {
  transform: translateY(-3px);
}

.btn:active {
  transform: translateY(-1px);
}

.popup {
  z-index: 2500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup__content {
  width: 75%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.2);
  transition: all 0.4s;
  transition-delay: 0.2s;
}
.popup__left {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}
.popup__right {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
.popup__img {
  display: block;
  width: 100%;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__close:link,
.popup__close:visited {
  color: grey;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}
.popup__close:hover {
  color: green;
}
