.home_btn {
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 2px solid white;
  font-size: 1.25rem;
  transition: all 0.5s ease-in-out;
}

.home_btn:hover {
  background-color: white;
  color: black;
}

.details_header {
  text-align: center;
  padding: 40px;
  background-color: black;
  color: white;
}

.likes_counter {
  justify-self: end;
  align-self: end;
}

.likes_btn:hover {
  cursor: pointer;
}

.unlike_btn {
  align-self: center;
  height: 60px;
  width: 60px;
}

.like_btn {
  transform: rotateX(180deg);
  align-self: center;
  height: 60px;
  width: 60px;
}

.unlike_btn:hover,
.like_btn:hover {
  cursor: pointer;
}

.comment_text_input {
  padding: 10px;
  font-size: 1.25rem;
  border: none;
  border-bottom: 3px solid white;
}
.add_comment_form {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 90vw;
  padding: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.15fr;
}
.comment_container {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  width: 90vw;
  text-align: left;
  margin: 0 auto;
}

.new_comment_btn {
  padding: 10px;
  background-color: black;
  color: white;
  border: 2px solid #2ecc71;
}

.comment_break {
  border: 1.5px solid white;
  border-radius: 5px;
  margin-top: 30px;
}

.delete_comment_btn {
  padding: 10px;
  background-color: black;
  color: white;
  border: 2px solid #e74c3c;
  cursor: pointer;
}
